.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.totalwrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardWrapper{
    display: flex;
flex-direction: row;

    margin-top: 18px;
    display: flex;
    
}

.wrapper{
display: flex;
flex-direction: row;
justify-content: space-evenly;
gap: 40px;
flex-wrap: wrap;
}

.toggletext{
cursor: pointer;
color: white;
}

